@charset "ISO-8859-1";

body {
	margin-top: 0px
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
    ), 
    url('../Images/background.png');
    background-size: cover;
    background-position: center;
    z-index: -1;
}

header {
	display: flex;
    flex-direction: row;
    align-items: center;
	width: 100vw;
    max-width: 100vw;
    overflow-x: hidden;
    background-color: white;
    justify-content: center;
}

header > img {
    margin: 10px;
}