@charset "ISO-8859-1";

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Change the direction to column */
    height: 100vh; /* Set body to full viewport height */
  }
  .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .download-container {
    background: white;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    width: 654px;
  }
  .report-title {
    color: #333;
    margin-bottom: 2em;
  }
  .title-background {
    background-color: #FFCC16;
    padding: 0.5em 1em; /* Add some padding around the text */
  }
  .buttons-container {
    text-align: center;
  }
  button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .calculate-btn {
    background-color: #ff814b;
    color: white;
    border-radius: 70px;
  }
  .view-report-btn {
    background-color: #ff814b;
    color: white;
    border-radius: 70px;
  }
  .calculate-btn:hover,
  .view-report-btn:hover {
    opacity: 0.8;
  }
  .footer-bar {
    background-color: rgb(38,123,251);
    width: 100%;
    /* padding: 10px; */
    height: 50px;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
  }
  .top {
    display: flex;
    justify-content: space-between; /* This will place the logo and icon on opposite ends */
    align-items: center; /* This will vertically align them in the center */
    padding: 10px;
  }
  .logo-container {
    flex-grow: 1;
    display: flex;
    justify-content: center; /* Center the logo inside the container */
  }
  .icon-container {
    position: relative;
  }

  .dropdown-toggle {
    cursor: pointer;
  }

  .dropdown-menu {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    border-radius: 10px;
    overflow: hidden; /* Ensures the child elements adhere to the border radius */
    z-index: 1;
  }

  .dropdown-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    transition: background-color 0.2s; /* Smooth background transition */
  }

  .profile-icon:before,
  .logout-icon:before {
    content: "";
    display: inline-block;
    width: 20px; /* Adjust as needed */
    height: 20px; /* Adjust as needed */
    background-size: contain; /* Ensure the image fits within the element */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    margin-right: 10px;
  }

  .profile-icon:before {
    background-image: url('../Images/profile_icon.png'); /* Replace with your profile icon path */
  }

  .logout-icon:before {
    background-image: url('../Images/logout_icon.png'); /* Replace with your logout icon path */
  }

  .dropdown-item:hover {
    background-color: #f1f1f1;
  }
  .download-file {
    margin-top: 20px;
    text-align: center;
  }
  .download-title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  .download-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px;
  }
  .download-item {
    text-align: center;
    margin-bottom: 20px;
  }
  .download-item img {
    width: 80px; /* Adjust as needed */
    height: auto;
  }
  .download-item .new-indicator {
    color: #ff0000; /* Red color for the 'NEW' indicator */
    font-weight: bold;
  }
  .download-item button {
    background-color: #6a5acd; /* SlateBlue color */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  .download-item button:hover {
    background-color: #483d8b; /* Darker SlateBlue color */
  }